@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
html{
    scroll-behavior: smooth;
}
main{
    min-height: 100vh;
}
.cover-mt{
    background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
    height: 464px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}
#side-navbar{
    position: fixed;
    top: 264px;
    left: 0;
    /* bottom: 50%; */
    max-width: 170px;
    height: min-content;
    background-color: rgb(10, 13, 23);
    border-radius: 0px 4px 4px 0px;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 12px 24px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.345) 0px 2px 40px 0px;
}
#side-navbar .inner-nav{
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.inner-nav a{
    margin: 8px 0px;
    font-family: 'rubik', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.inner-nav a:hover{
    color: #317df7;
}
#main-container{
    max-width: 1116px;
    margin: auto;
    /* padding: 32px 8px; */
    width: 100%;

}
#upper-com{
    margin: 32px 0px;
}
#head{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 16px;
    color: white;
}
.cs{
    font-size: 18px;
    font-weight: 400;
    color: rgb(203, 213, 224);
    font-family: 'rubik', sans-serif;
    margin-bottom: 16px;
}
.po{
    font-size: 22px;
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    margin-bottom: 16px;
}
#project-info{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
}
.r-r{
    max-width: 40%;
}
.p-c{
    max-width: 40%;
}
.tools{
    max-width: 40%;
}
.r-r h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.r-r p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.p-c h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.p-c p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.tools h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.tools p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.why-i{
    font-family: 'rubik', sans-serif;
    font-size: 18px;
    color: white;
    /* margin-bottom: 24px; */
}
.line{
    opacity: 0.1;
    color: #8E8E93;
}


/* Main Case Study Section */


/* #middle-com{
    padding: 32px 8px;
} */
#problem-s{
    margin: 32px 0px;
}
#problem-s h6{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#problem-s h6:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
#problem-s p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.design-goal{
    height: 166px;
    background-image: url(./assets/moneytracker/design-goal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
}


#solution{
    margin: 32px 0px;
}
#solution h6{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#solution h6:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}



/* small desktop */


@media (max-width: 1312px) {
    .cover-mt{
        background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
        height: 302px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    #main-container{
        max-width: 972px;
        margin: auto;
        /* padding: 32px 8px; */
        width: 100%;
    }
    .design-goal{
        height: 112px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
    }
}



/* Tablet */

@media (max-width: 992px) {
    #main-container{
        max-width: 972px;
        margin: auto;
        padding: 0px 32px;
        width: 100%;
    }
    #side-navbar{
        display: none;
    }
    .design-goal{
        height: 104px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
    }
}


/* Mobile */


@media (max-width: 688px) {
    #main-container{
        max-width: 972px;
        margin: auto;
        padding: 0px 16px;
        width: 100%;
    }
    .cover-mt{
        background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
        height: 236px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    #upper-com{
        margin: 16px 0px;
    }
    #head{
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 12px;
        color: white;
    }
    .cs{
        font-size: 16px;
        font-weight: 400;
        color: rgb(203, 213, 224);
        font-family: 'rubik', sans-serif;
        margin-bottom: 12px;
    }
    .po{
        font-size: 18px;
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        margin-bottom: 16px;
    }
    #project-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 16px;
    }
    .r-r{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .p-c{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .tools{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .r-r h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .r-r p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .p-c h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .p-c p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .tools h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .tools p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .why-i{
        font-family: 'rubik', sans-serif;
        font-size: 18px;
        color: white;
        /* margin-bottom: 24px; */
    }
    .line{
        opacity: 0.1;
        color: #8E8E93;
    }


    #problem-s{
        margin: 16px 0px;
    }
    #problem-s h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    #problem-s h6:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    #problem-s p{
        font-size: 18px;
        color: rgb(160, 174, 192);
    }
    .design-goal{
        display: none;
        /* height: 48px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px; */
    }


    #solution{
        margin: 16px 0px;
    }
    #solution h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    #solution h6:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
}