@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
html{
    scroll-behavior: smooth;
}
main{
    min-height: 100vh;
}
.cover-mt{
    background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
    height: 464px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}
#side-navbar{
    position: fixed;
    top: 248px;
    left: 0;
    /* bottom: 50%; */
    max-width: 170px;
    height: min-content;
    background-color: rgb(10, 13, 23);
    border-radius: 0px 4px 4px 0px;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 12px 24px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.345) 0px 2px 40px 0px;
}
#side-navbar .inner-nav{
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.inner-nav a{
    margin: 8px 0px;
    font-family: 'rubik', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.inner-nav a:hover{
    color: #317df7;
}
#main-container{
    max-width: 1116px;
    margin: auto;
    /* padding: 32px 8px; */
    width: 100%;

}
#upper-com{
    margin: 32px 0px;
}
#head{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 16px;
    color: white;
}
.cs{
    font-size: 18px;
    font-weight: 400;
    color: rgb(203, 213, 224);
    font-family: 'rubik', sans-serif;
    margin-bottom: 16px;
}
.po{
    font-size: 22px;
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    margin-bottom: 16px;
}
#project-info{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
}
.r-r{
    max-width: 40%;
}
.p-c{
    max-width: 40%;
}
.tools{
    max-width: 40%;
}
.r-r h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.r-r p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.p-c h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.p-c p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.tools h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.tools p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.why-i{
    font-family: 'rubik', sans-serif;
    font-size: 18px;
    color: white;
    /* margin-bottom: 24px; */
}
.line{
    opacity: 0.1;
    color: #8E8E93;
}


/* Main Case Study Section */


/* #middle-com{
    padding: 32px 8px;
} */
#problem-s{
    padding: 32px 0px;
}
#problem-s h6{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#problem-s h6:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
#problem-s p{
    font-size: 18px;
    color: rgb(160, 174, 192);
}
.design-goal{
    height: 166px;
    background-image: url(./assets/moneytracker/design-goal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
    border-radius: 2px;
}


#solution{
    padding: 32px 0px;
}
#sol-h{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#sol-h:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
.sol-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#sol-v1{
    width: 40%
}
#sol-info1{
    width: 50%
}
#sol-v1{
    width: 316px;
    height: auto;
    border-radius: 2px;
}
#sol-info1 h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#sol-info1 p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 8px;
}

.sol-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#sol-v2{
    width: 40%
}
#sol-info2{
    width: 50%
}
#sol-v2{
    width: 316px;
    height: auto;
    border-radius: 2px;
}
#sol-info2 h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#sol-info2 p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 8px;
}


.sol-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#sol-v3{
    width: 40%
}
#sol-info3{
    width: 50%
}
#sol-v3{
    width: 316px;
    height: auto;
    border-radius: 2px;
}
#sol-info3 h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#sol-info3 p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 8px;
}


.sol-4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#sol-v4{
    width: 40%
}
#sol-info4{
    width: 50%
}
#sol-v4{
    width: 316px;
    height: auto;
    border-radius: 2px;
}
#sol-info4 h6{
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
#sol-info4 p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 8px;
}


#my-ap{
    padding: 32px 0px;
}
#ap-head{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#ap-head:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
.ap-bg{
    height: 280px;
    background-image: url(./assets/moneytracker/my-approach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
    border-radius: 2px;
}


#research-sec{
    padding: 32px 0px;
}
#re-head{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#re-head:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
.re-subh{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}
.end-users{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}



#insights{
    padding: 32px 0px;
}
#in-head{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#in-head:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
#insights p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}
.in-bg{
    height: 680px;
    background-image: url(./assets/moneytracker/re-insights.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 2px;
    margin-bottom: 16px;
}
#other-meth{
    height: 280px;
    background-image: url(./assets/moneytracker/my-approach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
    border-radius: 2px;
}


#design-sec{
    padding: 32px 0px;
}
#de-head{
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#de-head:hover::after{
    content: "#";
    color: #3182ce;
    font-weight: 600;
}
#design-sec p{
    font-size: 18px;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}
#wireframes{
    height: 608px;
    background-image: url(./assets/moneytracker/wireframes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
    border-radius: 2px;
}
#low-fi{
    height: 1248px;
    background-image: url(./assets/moneytracker/low-fidelity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-top: 16px;
    border-radius: 2px;
}
/* small desktop */


@media (max-width: 1312px) {
    .cover-mt{
        background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
        height: 302px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    #main-container{
        max-width: 972px;
        margin: auto;
        /* padding: 32px 8px; */
        width: 100%;
    }
    .design-goal{
        height: 112px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
    }
}



/* Tablet */

@media (max-width: 992px) {
    #main-container{
        max-width: 972px;
        margin: auto;
        padding: 0px 32px;
        width: 100%;
    }
    #side-navbar{
        display: none;
    }
    .design-goal{
        height: 104px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
    }
    .ap-bg{
        height: 180px;
        background-image: url(./assets/moneytracker/my-approach.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    #other-meth{
        height: 208px;
        background-image: url(./assets/moneytracker/my-approach.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    .in-bg{
    height: 508px;
    background-image: url(./assets/moneytracker/re-insights.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 2px;
    margin-bottom: 16px;
    }
    #wireframes{
        height: 364px;
        background-image: url(./assets/moneytracker/wireframes.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    #low-fi{
        height: 816px;
        background-image: url(./assets/moneytracker/low-fidelity.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
}


/* Mobile */


@media (max-width: 688px) {
    #main-container{
        max-width: 972px;
        margin: auto;
        padding: 0px 16px;
        width: 100%;
    }
    .cover-mt{
        background-image: url(./assets/moneytracker/Moneytacker-main.jpg);
        height: 256px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    #upper-com{
        margin: 16px 0px;
    }
    #head{
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 12px;
        color: white;
    }
    .cs{
        font-size: 16px;
        font-weight: 400;
        color: rgb(203, 213, 224);
        font-family: 'rubik', sans-serif;
        margin-bottom: 12px;
    }
    .po{
        font-size: 18px;
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        margin-bottom: 16px;
    }
    #project-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 16px;
    }
    .r-r{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .p-c{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .tools{
        min-width: 100%;
        margin-bottom: 16px;
    }
    .r-r h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .r-r p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .p-c h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .p-c p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .tools h6{
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    .tools p{
        font-size: 16px;
        color: rgb(160, 174, 192);
    }
    .why-i{
        font-family: 'rubik', sans-serif;
        font-size: 18px;
        color: white;
        /* margin-bottom: 24px; */
    }
    .line{
        opacity: 0.1;
        color: #8E8E93;
    }


    #problem-s{
        padding: 16px 0px;
    }
    #problem-s h6{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    #problem-s h6:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    #problem-s p{
        font-size: 18px;
        color: rgb(160, 174, 192);
    }
    .design-goal{
        display: none;
        /* height: 48px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px; */
    }


    #solution{
        padding: 16px 0px;
    }
    #sol-h{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 8px;
    }
    #sol-h:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    .sol-1{
        display: block;
        margin-bottom: 16px;
        min-width: 100%;
    }
    #sol-v1{
        width: 100%;
        height: auto;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    #sol-info1{
        min-width: 100%;
    }
    #sol-info1 h6{
        display: block;
        font-size: 24px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #sol-info1 p{
        display: block;
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 8px;
    }


    .sol-2{
        display: block;
        margin-bottom: 16px;
        min-width: 100%;
    }
    #sol-v2{
        width: 100%;
        height: auto;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    #sol-info2{
        min-width: 100%;
    }
    #sol-info2 h6{
        font-size: 28px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #sol-info2 p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 8px;
    }


    .sol-3{
        display: block;
        margin-bottom: 16px;
        min-width: 100%;
    }
    #sol-v3{
        width: 100%;
        height: auto;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    #sol-info3{
        min-width: 100%;
    }
    #sol-info3 h6{
        font-size: 28px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #sol-info3 p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 8px;
    }
    

    .sol-4{
        display: block;
        margin-bottom: 16px;
        min-width: 100%;
    }
    #sol-v4{
        width: 100%;
        height: auto;
        border-radius: 2px;
        margin-bottom: 8px;
    }
    #sol-info4{
        min-width: 100%;
    }
    #sol-info4 h6{
        font-size: 28px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
        min-width: 100%;
    }
    #sol-info4 p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 8px;
        min-width: auto;
    }


    #my-ap{
        padding: 16px 0px;
    }
    #ap-head{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #ap-head:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    .ap-bg{
        height: 96px;
        background-image: url(./assets/moneytracker/my-approach.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    
    
    #research-sec{
        padding: 16px 0px;
    }
    #re-head{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #re-head:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    .re-subh{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 12px;
    }
    .end-users{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 8px;
    }
    #other-meth{
        height: 88px;
        background-image: url(./assets/moneytracker/my-approach.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    
    
    
    #insights{
        padding: 16px 0px;
    }
    #in-head{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #in-head:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    #insights p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 16px;
    }
    .in-bg{
        height: 248px;
        background-image: url(./assets/moneytracker/re-insights.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 2px;
        margin-bottom: 16px;
    }



    #design-sec{
        padding: 16px 0px;
    }
    #de-head{
        font-size: 26px;
        font-weight: 800;
        color: white;
        margin-bottom: 16px;
    }
    #de-head:hover::after{
        content: "#";
        color: #3182ce;
        font-weight: 600;
    }
    #design-sec p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 16px;
    }
    #wireframes{
        height: 208px;
        background-image: url(./assets/moneytracker/wireframes.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    #low-fi{
        height: 448px;
        background-image: url(./assets/moneytracker/low-fidelity.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px;
        border-radius: 2px;
    }
    
}