@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: rgb(10, 13, 23);
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 100 ;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: saturate(100%) blur(132px);
    z-index: -1;
}
.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}

.navbar a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 60px;
    font-family: 'rubik', sans-serif;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
/* .main{
    height: 100vh;
} */
#memoji{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
}
#memoji-photo{
    height: 264px;
    width: 264px;
    background-image: url(./assets/memoji.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 50%;
}
.heading{
    font-size: 40px;
    font-weight: 800;
    margin:auto;
    max-width: 1024px;
    color: #ffffff;
    text-align: center;
    min-height: 104px;
}
.para{
    font-size: 22px;
    font-family: 'rubik', sans-serif;
    margin: auto;
    color: rgb(160, 174, 192);
    max-width: 1024px;
    text-align: center;
    padding-bottom: 32px;
}
#navbutton{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dive-in{
    font-weight: 500;
    color: white;
    font-size: 16px;
    font-family: 'rubik', sans-serif;
    padding: 12px 16px;
    border-radius: 2px;
    background-image: linear-gradient(#3f78e1, #0b50c0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
}
.dive-in:hover{
    background-image: linear-gradient(#2d67d3, #0b47a8);
    cursor: pointer;
}
.dive-in #arrow-down{
    font-size: 24px;
    padding-left: 4px;
}
#scroll{
    height: 100%;
    width: 100%;
    padding-top: 120px;

}
#selected{
    font-size: 36px;
    font-weight: 800;
    margin: 0px 64px 32px;
    color: #ffffff;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 64px 64px;
}

#moneytracker{
    width: 48%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}
#moneytracker .img{
    height: 430px;
    background-image: url(./assets/Moneytracker.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 32px;
    border-radius: 2px;
}
#moneytracker h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#moneytracker p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#website h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#website p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#website{
    width: 48%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}
#website .img{
    height: 430px;
    background-image: url(./assets/Website.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 32px;
    border-radius: 2px;
}


.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 64px 64px;
}

#isro{
    width: 48%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}
#isro .img{
    height: 430px;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 32px;
    border-radius: 2x;
}
#isro h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#isro p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#covid h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#covid p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#covid{
    width: 48%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}
#covid .img{
    height: 430px;
    background-image: url(./assets/Bg\ covid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 32px;
    border-radius: 2px;
}



/* Writing */



#line1{
    opacity: 0.1;
    color: #8E8E93;
    margin: 0px 64px 32px;
}

#writing-section{
    /* max-width: 1348px; */
    margin: auto;
    padding: 32px 64px;
}
#writing{
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
}
.first-article{
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
#info-1{
    width: 72%;
}
#info-1 h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#info-1 p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#f-a-bg{
    width: 26%;
    height: 240px;
    background-image: url(./assets/writing/first.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 2px;
}
.second-article{
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
#info-2{
    width: 72%;
}
#info-2 h6{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
    color: white;
}
#info-2 p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
#s-a-bg{
    width: 26%;
    height: 240px;
    background-image: url(./assets/writing/second.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 2px;
}

/* footer Section */



.footer hr{
    opacity: 0.1;
    color: #8E8E93;
    margin-bottom: 32px;
}
.footer{
    /* position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
    right: 0;  */
    margin: 0px 64px;
}
.footer .bottom-icons a{
    color: white;
}
#bottom-text{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.bottom-icons{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 32px;
    text-align: center;
}
.bottom-icons a{
    width: 80px;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social .bottom-icons i{
    padding: 10px;
}



/* About Page */



.me-section{
    margin: 0px 64px;
    margin-bottom: 64px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about{
    font-size: 42px;
    font-weight: 800;
    margin: 32px 64px;
    display: block;
    color: white;
}
.me{
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.myself{
    margin-left: 64px;
    display: block;
}
.myself p{
    font-family: 'rubik', sans-serif;
    font-size: 18px;
    color: rgb(160, 174, 192)
}

.question{
    font-size: 36px;
    font-weight: 800;
    margin: 0px 64px;
    margin-bottom: 40px;
    color: white;
}

.hobbies{
    margin: 0px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    color: #F2F2F7;
}

#cricket{
    width: 46%;
}
#music{
    width: 46%;
}

#cricket h6{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}
#cricket p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}

#music h6{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}

#music p{
    color: rgb(160, 174, 192);
    font-family: 'rubik', sans-serif;
    font-size: 18px;
}
.social .bottom-icons i:hover{
    background-color: rgba(51, 58, 96, 0.441);
    border-radius: 2px;
}

.head{
    height: 100vh;
    color: rgb(160, 174, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1312px) {
    #moneytracker .img{
        height: 370px;
        background-image: url(./assets/Moneytracker.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 32px;
        border-radius: 2px;
    }
    #website .img{
        height: 370px;
        background-image: url(./assets/Website.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 32px;
        border-radius: 2px;
    }

    #isro .img{
        height: 370px;
        background-image: url(./assets/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 32px;
        border-radius: 2px;
    }
    #covid .img{
        height: 370px;
        background-image: url(./assets/Bg\ covid.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 32px;
        border-radius: 2px;
    }
    /* writing section */


    #f-a-bg{
        width: 26%;
        height: 194px;
        background-image: url(./assets/writing/first.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 2px;
    }
    #s-a-bg{
        width: 26%;
        height: 194px;
        background-image: url(./assets/writing/second.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 2px;
    }


    /* about section */
    .me-section{
        margin: 0px 64px;
        margin-bottom: 64px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .me{
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-radius: 2px;
    }
    .myself{
        font-size: 16px;
        margin-left: 64px;
        display: block;
        color: #F2F2F7;
        text-overflow: clip;
    }
    #cricket p{
        font-size: 16px;
    }
    #music p{
        font-size: 16px;
    }
    .social .bottom-icons i:hover{
        background-color: rgba(51, 58, 96, 0.441);
        border-radius: 2px;
    }

}

@media (max-width: 992px) {
    .header{
        padding: 20px 32px;
    }
    .heading{
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        margin: auto;
        max-width: 664px;
        min-height: 249px;
    }
    .para{
        font-size: 22px;
        font-family: 'rubik', sans-serif;
        text-align: center;
        margin: auto;
        color: rgb(160, 174, 192);
        max-width: 664px;
    }
    #selected{
        font-size: 36px;
        font-weight: 800;
        margin: 0px 32px 32px;
        color: #ffffff;
    }
    
    .row-1{
        display: block;
        margin: 0px 32px;
    }
    #moneytracker{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #moneytracker .img{
        height: 460px;
        background-image: url(./assets/Moneytracker.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 24px;
        border-radius: 2px;
    }
    #moneytracker h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #moneytracker p{
        font-size: 20px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }
    #website{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #website .img{
        height: 520px;
        background-image: url(./assets/Website.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 24px;
        border-radius: 2px;
    }
    #website h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #website p{
        font-size: 20px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }

    .row-2{
        display: block;
        margin: 0px 32px;
    }
    #isro{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #isro .img{
        height: 520px;
        background-image: url(./assets/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 24px;
        border-radius: 2px;
    }
    #isro h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #isro p{
        font-size: 20px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }
    #covid{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #covid .img{
        height: 520px;
        background-image: url(./assets/Bg\ covid.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 24px;
        border-radius: 2px;
    }
    #covid h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #covid p{
        font-size: 20px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }

    /* writing section */
    

    #line1{
        opacity: 0.1;
        color: #8E8E93;
        margin: 0px 32px 16px;
    }
    
    #writing-section{
        /* max-width: 1348px; */
        margin: auto;
        padding: 16px 32px;
    }
    #writing{
        font-size: 36px;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 16px;
    }
    .first-article{
        padding: 16px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }
    #info-1{
        width: 60%;
    }
    #info-1 h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #info-1 p{
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        font-size: 20px;
    }
    #f-a-bg{
        width: 34%;
        height: 212px;
        background-image: url(./assets/writing/first.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 2px;
    }
    .second-article{
        padding: 16px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }
    #info-2{
        width: 60%;
    }
    #info-2 h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #info-2 p{
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        font-size: 18px;
    }
    #s-a-bg{
        width: 34%;
        height: 212px;
        background-image: url(./assets/writing/second.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 2px;
    }



    /* about section  */



    .about{
        font-size: 40px;
        font-weight: 800;
        margin: 32px 32px;
    }
    .me-section{
        margin: 0px 32px;
        height: 100%;
        display: block;
        margin: auto;
        width: 100%;
    }
    .me{
        width: 650px;
        height: 700px;
        object-fit: cover;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        border-radius: 2px;
    }
    .myself{
        margin: 0px 32px;
        margin-bottom: 32px;
        display: block;
        font-size: 20px;
        height: 100%;
    }
    .question{
        font-size: 30px;
        font-weight: 800;
        margin: 0px 32px;
        margin-bottom: 32px;
    }
    .hobbies{
        margin: 0px 32px;
        display: block;
        margin-bottom: 32px;
    }
    #cricket h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    #cricket p{
        font-size: 20px;
        margin-bottom: 32px;
    }
    #music h6{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    #music p{
        font-size: 20px;
        margin-bottom: 32px;
    }
    #cricket{
        width: 100%;
        margin-bottom: 16px;
    }
    #music{
        width: 100%;
        margin-bottom: 16px;
    }
    .footer{
        margin: 0px 32px;
    }
    #bottom-text{
        text-align: center;
        font-size: 22px;
        margin: 16px;
    }
    .bottom-icons a{
        width: 80px;
        font-size: 22px;
    }

}
@media (max-width: 688px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: saturate(100%) blur(132px);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navbar{
        height: 170px;
    }
    .navbar a {
        display: block;
        font-size: 22px;
        margin: 20px;
        text-align: center;
    }
    #bottom-text{
        text-align: center;
        font-size: 20px;
        margin: 16px;
    }
    .bottom-icons a{
        width: 80px;
        font-size: 18px;
    }
    .footer{
        margin: 0px 16px;
    }
    /* .main{
        height: 100vh;
    } */
    #memoji-photo{
        height: 264px;
        width: 264px;
    }
    .heading{
        font-size: 28px;
        font-weight: 800;
        margin: 0px 16px;
        min-height: 148px;
    }
    .para{
        font-size: 18px;
        font-family: 'rubik', sans-serif;
        margin: 0px 16px;
        color: rgb(160, 174, 192);
    }
    #navbutton{
        padding: 48px;
    }
    #selected{
        font-size: 30px;
        font-weight: 800;
        margin: 0px 16px 16px;
        color: #ffffff;
        display: block;
    }
    
    .row-1{
        display: block;
        margin: 0px 16px 16px;
    }
    #moneytracker{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #moneytracker .img{
        height: 232px;
        background-image: url(./assets/Moneytracker.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;
    }
    #moneytracker h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #moneytracker p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }
    #website{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #website .img{
        height: 232px;
        background-image: url(./assets/Website.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;
    }
    #website h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #website p{
        font-size: 18px;
        color: rgb(160, 174, 192);
    }

    .row-2{
        display: block;
        margin: 0px 16px 16px;
    }
    #isro{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #isro .img{
        height: 232px;
        background-image: url(./assets/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;
    }
    #isro h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #isro p{
        font-size: 18px;
        color: rgb(160, 174, 192);
        margin-bottom: 32px;
    }
    #covid{
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    #covid .img{
        height: 232px;
        background-image: url(./assets/Bg\ covid.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;

    }
    #covid h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #covid p{
        font-size: 18px;
        color: rgb(160, 174, 192);
    }


    /* writing section */


    #line1{
        opacity: 0.1;
        color: #8E8E93;
        margin: 0px 32px 16px;
    }
    #writing-section{
        /* max-width: 1348px; */
        margin: auto;
        padding: 16px 16px;
    }
    #writing{
        font-size: 30px;
        font-weight: 800;
        color: #ffffff;
    }
    .first-article{
        padding: 16px 0px;
        display: flex;
        flex-direction: column-reverse;
        text-decoration: none;
    }
    #info-1{
        width: 100%;
    }
    #info-1 h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #info-1 p{
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        font-size: 18px;
    }
    #f-a-bg {
        width: 100%;
        height: 224px;
        background-image: url(./assets/writing/first.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;
    }
    .second-article{
        padding: 16px 0px;
        display: flex;
        flex-direction: column-reverse;
        text-decoration: none;
    }
    #info-2{
        width: 100%;
    }
    #info-2 h6{
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 8px;
        color: white;
    }
    #info-2 p{
        color: rgb(160, 174, 192);
        font-family: 'rubik', sans-serif;
        font-size: 18px;
    }
    #s-a-bg{
        width: 100%;
        height: 224px;
        background-image: url(./assets/writing/second.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-bottom: 16px;
        border-radius: 2px;
    }


    /* about section */
    .about{
        font-size: 36px;
        font-weight: 800;
        margin: 16px 16px;
    }
    .me-section{
        margin: 0px 16px;
        height: 100%;
        display: block;
        margin: auto;
        width: 100%;
    }
    .me{
        width: 350px;
        height: 400px;
        object-fit: cover;
        display: block;
        margin: auto;
        margin-bottom: 32px;
        border-radius: 2px;
    }
    .myself{
        margin: 0px 16px;
        margin-bottom: 32px;
        display: block;
        height: 100%;
    }
    .myself p{
        font-size: 18px;
    }
    .question{
        font-size: 30px;
        font-weight: 800;
        margin: 0px 16px;
        margin-bottom: 16px;
    }
    .hobbies{
        margin: 0px 16px;
        display: block;
        margin-bottom: 32px;
    }
    #cricket h6{
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    #cricket p{
        font-size: 18px;
    }
    #music h6{
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    #music p{
        font-size: 18px;
    }
    #cricket{
        width: 100%;
        margin-bottom: 32px;
    }
    #music{
        width: 100%;
        margin-bottom: 32px;
    }
.head{
    height: 700px;
    color: rgb(160, 174, 192);
    text-align: center;
}
}


